<div class="container">
  <h2 class="display-4 text-center pb-5">Proyectos</h2>
  <div class="row mb-4">
    <div class="row mb-4">
      <div class="col-md-5">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/SFN0q3QJcPo"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        </div>
      </div>
      <div class="col">
        <h3 class=""><a href="https://kyplim.itch.io/dont-let-them-loot-you" class="text-info">Don't let them
            loot you!</a></h3>
        <h6 class="mb-2 text-muted">Game Jam</h6>
        <p>
          Me encargué de desarrollar las interacciones de varios objetos y sistemas: antorchas e iluminación,
          monedas, puertas. Corrección de bugs en la UI y la IA de los enemigos.
        </p>
        <a href="https://kyplim.itch.io/dont-let-them-loot-you" class="card-link text-info"><i
            class="fab fa-itch-io"></i> Itch.io</a>
      </div>
    </div>
    <div class="col-md-5">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" width="560" height="315"
          src="https://www.youtube-nocookie.com/embed/qDmght32yFw" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>
    </div>
    <div class="col">
      <h3><a href="https://ricardorg.itch.io/nothing-can-stop-you" class="text-info">Nothing can stop you!</a>
      </h3>
      <h6 class="mb-2 text-muted">Game Jam</h6>
      <p>
        En este proyecto fui responsable de implementar el game loop (sistema de fases, spawn
        y reutilización de objetos) así como el sistema de audio.
      </p>
      <a href="https://ricardorg.itch.io/nothing-can-stop-you" class="card-link text-info"><i
          class="fab fa-itch-io"></i> Itch.io</a>
    </div>
  </div>
  <div class="row mb-4">
    <div class="col-md-5">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive embed-responsive-16by9" width="560" height="315"
          src="https://www.youtube.com/embed/dqz9RRvXjp4" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>
    </div>
    <div class="col">
      <h3><a href="https://laginc.itch.io/sweets-dreams" class="text-info">Sweets Dreams</a></h3>
      <h6 class="mb-2 text-muted">Game Jam</h6>
      <p>
        Desarrollé los sistemas de control de fases, control de patrones y reutilización de obstáculos.
      </p>
      <a href="https://laginc.itch.io/sweets-dreams" class="card-link text-info"><i class="fab fa-itch-io"></i>
        Itch.io</a>
    </div>
  </div>
  <div class="row mb-4">
    <div class="col-md-5">
      <img src="theme/images/vn_mod.jpg" alt="">
    </div>
    <div class="col">
      <h3><a href="https://steamcommunity.com/sharedfiles/filedetails/?id=299122114" class="text-info">GTD Visual
          Novel Mod</a></h3>
      <h6 class="mb-2 text-muted">Mod</h6>
      <p>
        Mod para el videojuego Game Dev Tycoon. Añade nuevos temas e investigaciones.
      </p>
      <a href="https://steamcommunity.com/sharedfiles/filedetails/?id=299122114" class="card-link text-info"><i
          class="fab fa-steam"></i> Steam</a>
      <a href="https://github.com/LuqueDaniel/gdt-visualnovel-mod" class="card-link text-info"><i
          class="fab fa-github"></i> Repositorio</a>
    </div>
  </div>
</div>
